<ion-app mode="ios">
    <ion-menu contentId="main-content" type="reveal">
        <!--Contenedor del menu-->
        <ion-header>
            <!--Encabezado del menu-->
            <ion-toolbar>
                <ion-title>
                    MENU
                </ion-title>
            </ion-toolbar>
        </ion-header>


        <ion-content class="ion-padding">
            <!--Contenido del Menu-->
            <ion-list>
                <ion-item> <a routerLink="/articulos">ARTICULOS</a></ion-item>
                <ion-item><a routerLink="/electronicos.component.html">ELECTRONICOS</a></ion-item>
                <ion-item><a routerLink="/deportes">DEPORTES</a></ion-item>
                <ion-item><a href="../libros.component.html">LIBROS</a>
                </ion-item>
                <ion-item>
                    <a href="">
                        <ion-icon name="log-in"></ion-icon>
                        <ion-icon name="log-out"></ion-icon>
                        INICIO DE SESION
                    </a>
                </ion-item>
                <ion-item>
                    <a href="">MI CUENTA</a>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>
                    FUSUFUM
                </ion-title>

                <div id="carrito" class="derecha">

                    <app-carrito></app-carrito>
                </div>
            </ion-toolbar>
        </ion-header>

        <ion-content color="light" class="ion-padding">


            <router-outlet></router-outlet>
        </ion-content>
        <ion-footer>
            <ion-toolbar color="dark">
                <ion-title>PASEME PROFE PORFA</ion-title>
            </ion-toolbar>
        </ion-footer>
    </div>
</ion-app>