<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let producto of productos">
    <ion-card style="position: relative;">

      <ion-icon (click)="addCarrito()" class="icon-product" name="cart" style="position: absolute;top: 31px;right: 30px;margin: 10px;font-size: 50px;"></ion-icon>
      <ion-img class="img-producto" [src]="producto.Foto" style="
        height: 350px;
        margin-top: auto; " ></ion-img>
      <ion-item lines="full">
        <ion-label style="text-align: center ;" class="subtitulo">{{producto.Nombre}}</ion-label>
      </ion-item>
      <p class="precio" style="text-align: center;" > ${{producto.Precio}}</p>

    </ion-card>

  </div>


  

</ion-content>
