<ion-header>
  <ion-toolbar color="categorias">
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/celulares']" style="    width: 300px; height: 300px;" color="light">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://i.linio.com/p/812f0b8f036367c7cdccfd787434abbd-product.webp" style="
            width: 200px;
            height: 190px;
            padding-top: 10px;" />
            <ion-card-header>
              <ion-card-title>
                <b>Celulares</b>
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-button> 
      </ion-col>

      <ion-col>
        <ion-button [routerLink]="['/laptops']" style="width: 300px; height: 300px;" color="light">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://i.linio.com/p/de4dd089447c0d0e1863d45bf1f4e659-product.webp" style="
            width: 200px;
            height: 190px;
            padding-top: 10px;" />

            <ion-card-header>
              <ion-card-title>
                <b>Laptops</b>
              </ion-card-title>
            </ion-card-header>

          </ion-card>
        </ion-button>
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/componentes']" style="width: 300px; height: 300px;" color="light">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://i.linio.com/p/e7f3716dd32e3a1283de1727991921e6-product.webp" style="
            width: 200px;
            height: 190px;
            padding-top: 10px;"  />
            <ion-card-header>
              <ion-card-title>
                <b>Componentes</b>
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-button>
        
      </ion-col>

      <ion-col>
        <ion-button [routerLink]="['/smartwatches']" style="width: 300px; height: 300px;" color="light">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://i.linio.com/p/367c88c7405af8aa9266dfadfc0fb701-product.webp" style="
            width: 200px;
            height: 190px;
            padding-top: 10px;" />
            <ion-card-header>
              <ion-card-title>
                <b>Smartwatches</b>
              </ion-card-title>
            </ion-card-header>         
          </ion-card>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/televiones']" style="width: 300px; height: 300px;" color="light">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://i.linio.com/p/5b93615b4a96f287cad0d108bfd50671-product.webp" style="
            width: 200px;
            height: 190px;
            padding-top: 10px;"  />
            <ion-card-header>
              <ion-card-title>
                <b>Televisiones</b>
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-button>
        
      </ion-col>

      <ion-col>
        <ion-button [routerLink]="['/videojuegos']" style="width: 300px; height: 300px;" color="light">
          <ion-card>
            <img alt="Silhouette of mountains" src="https://i.linio.com/p/acf113af520742defa3786785b038a3d-product.webp" style="
            width: 200px;
            height: 190px;
            padding-top: 10px;" />
            <ion-card-header>
              <ion-card-title>
                <b>videojuegos</b>
              </ion-card-title>
            </ion-card-header>         
          </ion-card>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
